.width {
  width: 300px;
  height: 300px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
}

.color-1 {
  background-color: #fcc;
  padding: 20px;
  margin-right: 20px;
}

.color-2 {
  background-color: #ccf;
  border: 5px solid black;
}

.margin {
  margin: 50px;
}

ul {
  background-color: #a7ceff;
  border: 10px solid blue;
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffc;
  border: 10px solid red;
  box-sizing: border-box;
  line-height: 120px;
  min-height: 120px;
  text-align: center;
  display: inline-block;
  width: 23%;
  margin: 0 1%;
}

.em {
  background: blue;
  display:inline-block;
  width: 50%;
  height: 33px;
  padding-left:50px;
  padding-top:50px;
}

figure {
  background: yellow;
}

figcaption {
  caption-side: top;
}